<% provide(:title, t(:blog_detail_title)) %>

<li id="<%= @current_blog.id %>">
  <!-- <%= link_to gravatar_for(@current_blog.admin), @current_blog.admin %> -->

  <h1><%= @current_blog.title %></h1>

  <span class="timestamp">
    <%= t(:blog_posted_prefix) %> <%= time_ago_in_words(@current_blog.created_at) %> <%= t(:blog_posted_suffix) %>
    <%= t(:blog_posted_by) %> <%= link_to @current_blog.admin.name, @current_blog.admin %>

  <% if current_user?(@current_blog.admin) %>
    |
    <strong>
      <%= link_to t(:edit_title), edit_post_path(@current_blog) %>
    </strong>
    |
    <strong>
      <%= link_to t(:delete_title), @current_blog, method: :delete,
        confirm: t(:delete_alert_message),
        title: @current_blog.title %>
    </strong>
  <% end %>
  </span>

  <p><%= markdown(@current_blog.content) %></p>
</li>

<hr/>

<section>
  <%= render partial: "shared/disqus", object: @current_blog %>
</section>
