<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timstamp">
    <%= t(:micropost_item_time_prefix) %>
    <%= time_ago_in_words(micropost.created_at) %>
    <%= t(:micropost_item_time_suffix) %>
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to t(:delete_title), micropost, method: :delete,
      confirm: t(:delete_alert_message),
      title: micropost.content %>
  <% end %>
</li>
